<%- include('../includes/top.ejs') %> <%- include('../includes/navigation.ejs')
%>

<main class="container">
  <h1>Add a note</h1>
  <form action="<%= isEditMode ? '/edit-note' : '/add-note' %>" method="POST">
    <div class="form-floating m-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Title here"
        name="title"
        value="<%= isEditMode ? note.title : '' %>"
      />
      <label for="floatingInput">Title</label>
    </div>

    <div class="form-floating m-2">
      <textarea
        class="form-control"
        placeholder="Description here"
        id="floatingTextarea2"
        style="height: 200px"
        name="description"
      >
<%= isEditMode ? note.description : '' %>"
      </textarea>
      <label for="floatingTextarea2">Description</label>
    </div>

    <div class="form-floating m-2">
      <input
        class="form-control"
        type="text"
        id="floatingImage"
        name="imageUrl"
        placeholder="Image url"
        value="<%= isEditMode ? note.imageUrl : '' %>"
      />
      <label for="floatingImage"> Image url </label>
    </div>
    <% if (isEditMode) { %>
    <input type="hidden" name="noteId" value="<%= note.noteId %>" />
    <% } %>
    <button class="btn btn-primary py-2 m-2" type="submit">
      <%= isEditMode ? 'Save Changes' : 'Add' %>
    </button>

    <a href="/" class="btn btn-danger py-2 m-2">Cancel</a>
  </form>
</main>
<%- include('../includes/bottom.ejs') %>
