<%- include('../includes/top.ejs') %> <%- include('../includes/navigation.ejs')
%>

<main class="container">
  
  <div class="d-flex justify-content-end align-items-center m-2">
    <div class="btn-group">
      <a
      href="/add-note/<%= note.noteId %>?isEditing=true"
        type="button"
        class="btn btn-sm btn-outline-secondary"
      >
        Edit
      </a>
    </div>
  </div>
    <div class="card shadow-sm">
      <img
        class="w-fit h-auto m-2"
        src="<%= note.imageUrl %>"
      >
      </img>
      <div class="card-body">
        <h2><%= note.title %></h2>
        <p class="card-text">
          <%= note.description %>
        </p>
      </div>
    </div>
</main>
<%- include('../includes/bottom.ejs') %>
